@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans', sans-serif;
}

.spec {
  cursor: pointer;
}

.nav-link {
  padding: 2px 5px;
  border-radius: 10px;
}

.nav-link:hover {
  background: #CBD5E0;
}